#  Local .terraform directories
**/.terraform/*

# Ignore Terraform local files
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

.lock/*
!.lock/.gitkeep

.DS_Store

.*.swo
.*.swp


# Ignore node dependencies
node_modules